{% extends "base.html" %}

{% load thumbnail %}

{% block title %}- success!{% endblock %}

{% block content %}
    <h2>Image Uploaded!</h2>
    <a href="{{ upload.image.url }}">
        {% thumbnail upload.image "200x200" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
    </a>
    <br/>
    {% if message %}
        <h3 style="color:{{ color }};">{{ message }}</h3>
    {% endif %}
    <h3>Email this image to someone:</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="pretty-button">GO-GO-GADGET SPAM!</button>
    </form>

    <a href="{% url uploadr-upload %}">Upload Another!</a>
{% endblock %}
